body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #005148;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
button {
  background-color: #005148;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:disabled {
  background-color: #f4f4f4;
  color: black;
}
form {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.inputs-wrapper {
  display: flex;
  gap: 1rem;
}
input,
select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

select {
  background-color: white;
  padding: 10px;
  font-size: 16px;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.choices__button {
  padding: 2px !important;
  padding-left: 16px !important;
}

.choices__inner {
  background: none;
}
.choices__input {
  background: none;
}

.choices__list--multiple .choices__item {
  background-color: #005148;
}
